* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.banner {
    width: 924px;
    height: 378px;
    border-radius: 12px;
    background-color: #E6F0FF;
    margin: 120px auto;
    padding: 50px;
}



.banner-content {
    overflow: hidden;
}

.banner-text {
    width: 542px;
    float: left;
}



.banner-small {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
}

.banner-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
}



.banner-button {
    display: inline-block;
    padding: 16px 40px;
    background-color: #0D6EFD;
    color: white;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 600;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}



.banner-image {
    width: 269px;
    height: 293px;
    float: right;
}