* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.intro {
    height: 657px;
    padding-top: 120px;
    padding-left: 155px;
}

.intro-content {
    width: 874px;
}

.intro-name {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.35px;
    margin-bottom: 12px;
}

.intro-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -0.7px;
}



.projects {
    padding-top: 122px;
}

.projects-content {
    width: 1110px;
    margin-left: 155px;
}

.projects-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: -0.35px;
    margin-bottom: 40px;
}



.project-card {
    padding: 24px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    margin-bottom: 80px;
}

.project-image {
    width: 100%;
    height: 468px;
    object-fit: cover;
    display: block;
    margin-bottom: 24px;
}

.project-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.35px;
    margin-bottom: 12px;
}

.project-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
}

.project-link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.project-link .arrow {
    margin-left: 3px;
}



.contact {
    height: 609px;
    padding-top: 120px;
}

.contact-content {
    width: 1110px;
    margin-left: 155px;
}

.contact-text {
    width: 569px;
    float: left;
}

.contact-empty {
    width: 445px;
    float: right;
    height: 369px;
}



.contact-small {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
}

.contact-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.4px;
}



.footer {
    padding-top: 32px;
    padding-left: 155px;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}